.sidenav {
  position: fixed;
  top: 0;
  left: 10px;
  margin-top: 2.5vh;
  min-height: 95vh;
  width: 20vw;
  background: linear-gradient(145deg, #4ec0f5, #6313ef, rgb(81, 12, 229), rgb(81, 12, 229), rgb(47, 174, 237));
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgb(0, 0, 0), -5px -5px 10px rgb(0, 0, 0), inset -5px -5px 10px rgb(48, 14, 66), inset 5px 5px 10px rgb(48, 14, 66);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}
.sidenavimg{
  background-color:rgb(50, 148, 253);
  /* font-size: 2rem; */
  border-radius: 50%;
  height:8rem;
}
.nav-item {
  width: 80%;
  margin: 2vh 0; /* Adds vertical spacing between items */
  text-align: center; /* Center text */
}

.nav-link {
  font-size: 1.2rem; /* Increased font size */
  font-weight: bold; /* Bold text */
  color: white;
  text-decoration: none; /* Remove underline */
  padding: 10px;
  border-radius: .7rem;
  transition: .3s all;
  display: block; /* Makes the link fill its container */
  background-color:#412474 ;
  display: flex;
  justify-content: center;

}

.innerNavbar{
  width: 70%; 
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.userIinnerNavbar{
  width: 75%; 
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.nav-link svg{
  /* background-color: red  ; */
  width: 1.8rem;
}
.nav-link:hover {
  background-color: #8448ed; /* Background color on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
.last-of-admin{
  position: absolute;
  width: 75%;
  bottom: 2rem;
  background-color: #b92910;
  &:hover{
    background-color: #911f0b;
  }
}